<style>
  img {filter: invert(1); width: 100%; height: 50px; object-fit: contain; margin: 20px 0;}
	
  div {width: 80%; margin: 0 auto; padding: 10px; font-family: sans-serif; color: #333;}
  
  h3 {text-align: center; margin-bottom: 40px}
  
  p span {text-transform: capitalize;}
  
  .footer p {margin: 0;}
  .footer span {font-size: 10pt}
</style>

<img src="https://agenciaforup.com.br/images/logo.png" style="width: 100%; height: 50px; object-fit: contain; margin: 20px 0; background: #bfbfbf; padding: 20px 0;" alt="">

<div class="content" style="width: 80%; margin: 0 auto; padding: 10px; font-family: sans-serif; color: #333;">
	<h2 style="text-align: center; margin-bottom: 40px;">Olá {{name}}, tudo bem ?</h2>
	<p style="font-size: 12pt;">Acabamos de receber o seu email, logo mais entraremos em contato.</p>
	<p style="font-size: 12pt;">Enquanto isso, que tal você conhecer um pouco mais sobre nós?</p>
  <p style="font-size: 12pt;">Visite nosso instagram clicando <a href="https://instagram.com/agenciaforup">aqui</a>.</p>
</div>
<div class="footer" style="width: 80%; margin: 0 auto; padding: 10px; font-family: sans-serif; color: #333;">
	<p style="margin: 0;"><strong>ForUp</strong></p>
	<p style="margin: 0;">Contato | WhatsApp +55 (11) 99660-2390</p>
	<p style="margin: 0;">São Paulo SP, Alameda Joaquim Eugênio de Lima, 297 - Bela Vista</p>
	<p style="margin: 0;">Guaíra SP, Rua 18, 611 - Centro</p>
  <br>
  <small>Este email não precisa ser respondido!</small>
</div>
